doctype html
html
    head
        title Vend
        meta(name='viewport' content="width=device-width, initial-scale=1")
        link(href='/assets/styles.css' rel='stylesheet')

    body
        header
            a(href='#') Vend
            ul
                li
                    a(href='#') Login
                li
                    a(href='/signup') Signup
        main
            h1 Vend
            h2 Connect, buy, sell
            button(type='button') Get started
