doctype html
html
    head
        title Vend
        meta(name='viewport' content="width=device-width, initial-scale=1")
        link(href='/assets/styles.css' rel='stylesheet')

    body
        header
            a(href='/') Vend
            ul
                li
                    a(href='#') Login
                li
                    a(href='/auth/signup') Signup
        main
            form(action='/auth/login' method='post' novalidate)
                h2 Log in

                label(for='username') Username
                input(type='text' name='username' required)

                label(for='password') Password
                input(type='password' name='password' required)

                input(type='submit' name='submit' value='Log in')

                p.
                    Don't have an account? #[a(href='/auth/signup') Sign up here.]
